body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f8fdf8;
}

#gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 20px;
}

.card {
  position: relative;
  border: 5px solid #e99999;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
}
