/* Structure */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:url("images/cheese-background.jpg");
    background-size:cover;
}

#content {
    background: #D97A07;
    width: 70%;
    margin:auto;
    padding:1%; 
    border-radius:5px; 
    box-shadow: 3px 3px #2E5902;
}

/* Tables */
#table {
    margin:auto;
    background: #D97A07;
    width:70%;
    border-radius:5px;
    padding:1%;
    box-shadow: 3px 3px #2E5902;
}

table {
    border-collapse: collapse;
}

td, th{
    border:1px solid #2E5902;
    padding: 5px 10px;   /*Top & Bottom on the left, Left and Right on right i.e. t&b 5px l&r 10px*/
}

th {
    background:#af7d06cb;;
}

/* Typography */
h1 {
    color:#f7cb49;
}
h2 {
    color: #F2BC1B;
}


/* Images */
img {
    box-shadow: 3px 3px #7e4e13;
}