/* Structure */
body {
    font-family: sans-serif;
    background-color: #333640;
}

#class {
    background: #32408C;
    width: 90%;
    margin:auto;
    padding:1%;
    border-radius:5px;
}

#description {
    background: #32408C;
    width: 90%;
    margin:auto;
    border-radius:5px;
    padding:1%;
}

#links {
    background: #32408C;
    width: 90%;
    margin:auto;
    border-radius:5px;
    padding:1%;
}

/* Typography */
h1 {
    color: #B4B9D9;
}
h3 {
    color: #B4B9D9;
}

a {
    color:chocolate;
    text-decoration: none;
}

p {
    color: #F0F0F0;
}

#speciallink {
    margin-left: 5%;
}

/* Lists */
ol {
    color: #F0F0F0;
    padding:1%;
    margin-left: 5%;    
}