



/* Additional navigation */
.additional-nav {
  background: #000;
  color: #fff;
  font-size: 0.9rem;
}
.additional-nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 5px 20px;
}
.additional-nav li {
  margin-left: 15px;
}
.additional-nav a {
  color: #fff;
  text-decoration: none;
}